#descMarketMexa {
    margin-top: 20px;
}

#redes {
    border: solid 5px var(--color-resaltado);
    padding: 20px;
}

.iconF {
    height: 25px;
    width: auto;
    color: blue;
}

.iconI {
    height: 25px;
    width: auto;
    color: rgb(231, 52, 142);
}

.iconW {
    height: 25px;
    width: auto;
    color: rgb(51, 221, 28);
}


.container {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}


.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#formulario {
    flex: 1;
    min-width: 300px;
}

#redes {
    flex: 1;
    min-width: 300px;
}