:root {
    --color-principal: #FABC3F;
    --color-fondo: #E85C0D;
    --color-secundario: #C7253E;
    --color-resaltado: #821131;
}

p {
    font-family: "Comic Neue", serif;
    font-size: 18px;
}
h2 {
    font-family: "Patrick Hand", serif;  
    font-size: 32px;
}
h1 {
    font-family: 'Roboto Condensed', serif;
    font-size: 2
    8px;
}

.nav-link, .btn-nav > a, a {
    color: black !important; /* Cambia el color del texto */
    text-decoration: none; /* Opcional: eliminar el subrayado */
}

.nav-link:hover, .btn-nav > a:hover {
    color: var(--color-resaltado) !important; /* Cambia el color al pasar el mouse */
}

svg {
    cursor: pointer;
}


#barra, #pie {
    font-family: "Roboto Flex", serif;
    background: linear-gradient(90deg, #f2ac0e, #fc3421);
}

a {
    text-decoration: none;
}
#pie > a, a {
    color: black !important; /* Cambia el color del texto */
    text-decoration: none; /* Opcional: eliminar el subrayado */
}

#pie[id="pie"] a:hover {
    color: var(--color-resaltado) !important;
}
#pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

#pie-contenido > div > a {
    color: var(--color-resaltado);
    text-decoration: none;
    
}

#logo { 
    height: 110px;
}

#bandera { 
    height: 50px;
}

.btn-nav {
    background-color: var(--color-principal);
    border-radius: 10px;
    padding: 5px 10px;
    border-color: white;
}

@media (max-width: 768px) {
    #logo {
        height: 80px;
    }
    
    .flex-container {
        flex-direction: column;
    }
    
    #formulario, #redes {
        width: 100%;
    }
    
    #pie {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }
    
    #pie > * {
        margin: 5px 0;
    }
}

@media (max-width: 576px) {
    #logo {
        height: 60px;
    }
    
    .btn-nav {
        padding: 3px 8px;
        font-size: 14px;
    }
}