/* Variables de colores */
:root {
    --color-principal: #FABC3F;
    --color-fondo: #E85C0D;
    --color-secundario: #C7253E;
    --color-resaltado: #821131;
}

body {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: white;
}



h1 {
    font-size: 2.5rem;
    text-align:center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Contenido principal */
main {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    transition: transform 0.3s ease-in-out;
}


main:hover {
    transform: scale(1.02);
}

/* Sección de términos */
.terminos h2 {
    color: var(--color-secundario);
    border-bottom: 3px solid var(--color-secundario);
    padding-bottom: 5px;
    margin-top: 25px;
    font-size: 1.8rem;
}

.terminos p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}

/* Enlaces */
.terminos a {
    color: var(--color-resaltado);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.terminos a:hover {
    text-decoration: underline;
    color: var(--color-secundario);
}

